* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-left: 15px;
}

h2{
    margin-bottom: 15px;

}

label{
    font-weight: bold;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.header{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 100vw;
    background-color: #5D5C61;
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 100vw;
    background-color: #5D5C61;
    color: white;
}

.main{
    display: flex;
}

.sidebar{
    display: flex;
    min-width: 150px;
    min-height: 92vh;
    background-color: #938e94;
    border-top: 1px solid #5D5C61;
    border-bottom: 1px solid #5D5C61;
}

.sidebar > * {
    height: 35px;
    min-width: 125px;
    max-width: 125px;
    background-color: #557A95;
    color: white;
    border: 1px solid #5D5C61;
    border-radius: 5px;
    margin-top: 10px
}

.todo-card {
    display: flex;
    margin: 10px 25px 10px 25px;
    justify-content: space-between;
    align-items: center;
    width: calc(92vw - 125px);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    background-color:antiquewhite;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 15px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 375px; /* Could be more or less, depending on screen size */
  }

  /* Formatting Individual Modal Elements */
  .modal-content > span {
      padding: 0px;
  }

  .modal-content > input {
      margin-bottom: 10px;
  }
  .modal-content > button{
      margin-top: 10px;
      width: 200px;
      align-self: center;
  }

  .modal-content > textarea{
      resize: none;
      width: 345px;
      height: 100px;
      margin-bottom: 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



/*
.to-dos{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: 1;
    margin: 0px;
    background-color: #659DBD;
    max-width: 95vw;
    padding:10px;
    border: 1px solid #557A95;
}

.todo-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    margin: 10px;
    width: 250px;
    padding: 10px;
    background-color: #B1A296;
    border: 2px solid #557A95;
    border-radius: 5px;
}

.todo-card > * {
    width: 200px;
    margin: 5px;
}

.todo-desc {
    height: 100px;
    resize: none;
    text-align: start;
    vertical-align: text-top;
}
*/
